# Python
__pycache__/
data/

# Virtual Environment
.venv/

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb_checkpoints/

# IDE
.vscode/

# CatBoost outputs
catboost_info/
*.tsv

# Logs
*.log

# Environment variables
.env
.env.local
